:root {
    --primary-text-color: #212121;
    --description-text-color: #757575;
    --acent-color: #2196F3;
    --primary-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --white-text-color: #ffffff;
}


body{
    color: var(--primary-text-color);
    font-family: Roboto;
}

/* Reset style */
.link {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Contacts */

.contacts .link {
    color: var(--description-text-color);
}

.contacts .link-address {
    color: var(--white-text-color);
}

.contacts .link:hover,
.contacts .link:focus,
.contacts .link-address:hover,
.contacts .link-address:focus {
    color: var(--acent-color);
}

/* Navigation */
.nav-list .link{
    color: var(--primary-text-color);
}
.nav-list .link.current {
    color: var(--acent-color);
}

/* Button */
.button {
    cursor: pointer;
}

.button.primary {
    background-color: var(--primary-bg-color);
}

footer {
    background-color: var(--footer-bg-color);
}

/* Section common styles */
.section .section-title {
    color: var(--primary-text-color);
}

/* Description text color */
.features .description,
.team .description,
.portfolio .description {
    color: var(--description-text-color);
}


/* Portfolio from portfolio file*/

.portfolio .link {
    color: var(--primary-text-color);
}

